<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengyuanjun.iedraw.mapper.PrizeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shengyuanjun.iedraw.domain.PrizeRecord">
        <id column="id" property="id" />
        <result column="prizeid" property="prizeid" />
        <result column="userid" property="userid" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="goodscode" property="goodscode" />
        <result column="isdel" property="isdel" />
        <result column="createtime" property="createtime" />
        <association property="customize" javaType="com.shengyuanjun.iedraw.domain.Customize">
            <id column="id" jdbcType="BIGINT" property="id" />
            <result column="customizetime" jdbcType="BIGINT" property="customizetime" />
            <result column="goodscode" jdbcType="VARCHAR" property="goodscode" />
            <result column="printchart" jdbcType="VARCHAR" property="printchart" />
            <result column="printstatus" jdbcType="TINYINT" property="printstatus" />
            <result column="createtime" jdbcType="BIGINT" property="createtime" />
        </association>
        <association property="prize" javaType="com.shengyuanjun.iedraw.domain.Prize">
            <result column="prizename" jdbcType="VARCHAR" property="prizename" />
            <result column="stock" jdbcType="BIGINT" property="stock" />
            <result column="beginvalidityperiod" jdbcType="BIGINT" property="beginvalidityperiod" />
            <result column="endvalidityperiod" jdbcType="BIGINT" property="endvalidityperiod" />
            <result column="pictureurl" jdbcType="VARCHAR" property="pictureurl" />
            <result column="odds" jdbcType="REAL" property="odds" />
        </association>
    </resultMap>

    <select id="selectRepeat" resultMap="BaseResultMap">
        SELECT COUNT(*),userid
        FROM t_prize_record
        GROUP BY userid
        HAVING COUNT(*) > 1
    </select>
    <sql id="Base_Column_List">
    id, prizeid, userid, status, type, goodscode, isdel, createtime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_prize_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_prize_record
    where id = #{id,jdbcType=BIGINT}
  </delete>


    <insert id="insert" parameterType="com.shengyuanjun.iedraw.domain.PrizeRecord">
        <selectKey  keyProperty='id' resultType='java.lang.Long' order='AFTER'  >
            select LAST_INSERT_ID() AS id
        </selectKey>
        insert into t_prize_record (id, prizeid, userid,
        status, type, goodscode,
        isdel, createtime)
        values (#{id,jdbcType=BIGINT}, #{prizeid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT},
        #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{goodscode,jdbcType=VARCHAR},
        #{isdel,jdbcType=TINYINT}, #{createtime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.shengyuanjun.iedraw.domain.PrizeRecord">
        insert into t_prize_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="prizeid != null">
                prizeid,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="goodscode != null">
                goodscode,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="prizeid != null">
                #{prizeid,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="goodscode != null">
                #{goodscode,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shengyuanjun.iedraw.domain.PrizeRecord">
        update t_prize_record
        <set>
            <if test="prizeid != null">
                prizeid = #{prizeid,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="goodscode != null">
                goodscode = #{goodscode,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=TINYINT},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shengyuanjun.iedraw.domain.PrizeRecord">
    update t_prize_record
    set prizeid = #{prizeid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      goodscode = #{goodscode,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=TINYINT},
      createtime = #{createtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- 添加部分 -->
    <select id="selectGetNumber" resultMap="BaseResultMap" parameterType="com.shengyuanjun.iedraw.domain.PrizeRecord">
        select
        <include refid="Base_Column_List"/>
        from t_prize_record where type = #{type,jdbcType=TINYINT} and goodscode = #{goodscode,jdbcType=VARCHAR}
    </select>

    <select id="selectall" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from  t_prize_record
    </select>

    <select id="showmine" parameterType="java.lang.Long" resultMap="BaseResultMap">
SELECT
	pr.id,
	pr.userid,
	pr.type,
	pr. STATUS,
	pr.goodscode,
	p.pictureurl,
	p.prizename,
	from_unixtime(
		p.beginvalidityperiod
	) AS beginvalidityperiod,
	FROM_UNIXTIME(
		p.endvalidityperiod
	) AS endvalidityperiod,
	pr.createtime
FROM
	t_prize_record AS pr
INNER JOIN t_prize AS p ON pr.prizeid = p.id
WHERE
	pr.isdel = 1
AND pr.userid = #{userid,jdbcType=BIGINT}
</select>

    <select id="showpzr" parameterType="java.lang.Long" resultMap="BaseResultMap">
SELECT
	pr.id,
	pr.userid,
	pr.type,
	pr. STATUS,
	pr.goodscode,
	p.pictureurl,
	p.prizename,
	from_unixtime(
		p.beginvalidityperiod
	) AS beginvalidityperiod,
	FROM_UNIXTIME(
		p.endvalidityperiod
	) AS endvalidityperiod,
	pr.createtime
FROM
	t_prize_record AS pr
INNER JOIN t_prize AS p ON pr.prizeid = p.id
WHERE
	pr.prizeid = P.id
</select>

</mapper>
