<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengyuanjun.iedraw.mapper.QuotationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shengyuanjun.iedraw.domain.Quotations">
        <id column="id" property="id" />
        <result column="quotationsstatus" property="quotationsstatus" />
        <result column="quotationsdesc" property="quotationsdesc" />
    </resultMap>

    <sql id="Base_Column_List">
    id, quotationsstatus, quotationsdesc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_quotations
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_quotations
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="java.lang.Integer">
    insert into t_quotations (id, quotationsstatus, quotationsdesc
      )
    values (#{id,jdbcType=BIGINT}, #{quotationsstatus,jdbcType=BIGINT}, #{quotationsdesc,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.shengyuanjun.iedraw.domain.Quotations">
        insert into t_quotations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="quotationsstatus != null">
                quotationsstatus,
            </if>
            <if test="quotationsdesc != null">
                quotationsdesc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="quotationsstatus != null">
                #{quotationsstatus,jdbcType=BIGINT},
            </if>
            <if test="quotationsdesc != null">
                #{quotationsdesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shengyuanjun.iedraw.domain.Quotations">
        update t_quotations
        <set>
            <if test="quotationsstatus != null">
                quotationsstatus = #{quotationsstatus,jdbcType=BIGINT},
            </if>
            <if test="quotationsdesc != null">
                quotationsdesc = #{quotationsdesc,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shengyuanjun.iedraw.domain.Quotations">
    update t_quotations
    set quotationsstatus = #{quotationsstatus,jdbcType=BIGINT},
      quotationsdesc = #{quotationsdesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_quotations
        where quotationsstatus = #{quotationsstatus,jdbcType=BIGINT}
    </select>

</mapper>
