<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengyuanjun.iedraw.mapper.WechatUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shengyuanjun.iedraw.domain.WechatUserInfo">
        <id column="id" property="id" />
        <result column="subscribe" property="subscribe" />
        <result column="openid" property="openid" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="headimgurl" property="headimgurl" />
        <result column="createtime" property="createtime" />
    </resultMap>

</mapper>
